@font-face {
    font-family: 'SilokaSundanese';
    src: url('TGSilokaSundanese-Regular.eot');
    src: url('TGSilokaSundanese-Regular.eot?#iefix') format('embedded-opentype'),
        url('TGSilokaSundanese-Regular.woff2') format('woff2'),
        url('TGSilokaSundanese-Regular.woff') format('woff'),
        url('TGSilokaSundanese-Regular.ttf') format('truetype'),
        url('TGSilokaSundanese-Regular.svg#TGSilokaSundanese-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

