@font-face {
    font-family: 'Noto Sans Rejang';
    src: url('NotoSansRejang.eot');
    src: url('NotoSansRejang.eot?#iefix') format('embedded-opentype'),
        url('NotoSansRejang.woff') format('woff'),
        url('NotoSansRejang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

