@font-face {
    font-family: 'Vimala';
    src: url('Vimala.eot');
    src: url('Vimala.eot?#iefix') format('embedded-opentype'),
        url('Vimala.woff2') format('woff2'),
        url('Vimala.woff') format('woff'),
        url('Vimala.ttf') format('truetype'),
        url('Vimala.svg#Vimala') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

