@import url("/fonts/bali/aksara.css");
@import url("/fonts/jawa/aksara.css");
@import url("/fonts/kawi/aksara.css");
@import url("/fonts/pegon/aksara.css");
@import url("/fonts/sunda/aksara.css");
@import url("/fonts/batak/aksara.css");
@import url("/fonts/rejang/aksara.css");
@import url("/fonts/bugis/aksara.css");
@import url("/fonts/makassar/aksara.css");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(94.79% 0.0407 320.6);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(73.43% 0.2332 321.41);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #E96BFF;
  --chart-2: #FACC00;
  --chart-3: #FF7A05;
  --chart-4: #FF4D50;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(26.29% 0.0683 327.3);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(60.62% 0.291458 319.6391);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 2px 2px 0px 0px var(--border);
  --chart-1: #C700EB;
  --chart-2: #E0B700;
  --chart-3: #EB6D00;
  --chart-4: #FF6669;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 2px;
  --spacing-boxShadowY: 2px;
  --spacing-reverseBoxShadowX: -2px;
  --spacing-reverseBoxShadowY: -2px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --secondary-background: 0 0% 100%;
    --foreground: 0 0% 100%;
    --main-foreground: 0 0% 100%;
    --main: 0 0% 100%;
    --border: 0 0% 100%;
    --ring: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --secondary-background: 212.7 26.8% 83.9%;
    --foreground: 0 0% 100%;
    --main-foreground: 0 0% 100%;
    --main: 0 0% 100%;
    --border: 0 0% 100%;
    --ring: 212.7 26.8% 83.9%;
  }

  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@theme {
  --animate-fade-in: fadeIn 1s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    ,
    to {
      opacity: 1
    }
  }
}

@layer utilities {
  .font-sunda {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'SilokaSundanese', 'Sundanese', 'Noto Sans Sundanese', sans-serif;
  }

  .font-jawa {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'NgayogyanNew', 'Javanese', 'Noto Sans Javanese', sans-serif;
  }

  .font-bali {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Vimala', 'Balinese', 'Noto Sans Balinese', sans-serif;
  }

  .font-batak {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Batak', 'Noto Sans Batak', sans-serif;
  }

  .font-rejang {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Rejang', 'Noto Sans Rejang', sans-serif;
  }

  .font-bugis {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Buginese', 'Noto Sans Buginese', sans-serif;
  }

  .font-kawi {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Tantular Kawi', 'Kawi', 'Noto Sans Kawi', sans-serif;
  }

  .font-pegon {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'ScheherazadeNew', 'Pegon', 'Noto Sans Arabic', sans-serif;
  }

  .font-makassar {
    font-size: 20px !important;
    line-height: 30px;
    font-family: 'Noto Serif Makasar', sans-serif;
  }
}